@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

#inicio {
    background-image: url(../images/fondo-contacto.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#contacto {
    background-image: url(../images/fondo-contacto.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#proyectos {
    background-image: url(../images/fondo-proyectos.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#sobremi{
    background-image: url(../images/fondo-proyectos.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#inicio .cohete{
    height: 340px;
}
#inicio .input-home p{
    color: white;
    font-size: 17px;
    border: 1px solid white;
    border-radius: 50px;
    font-weight: 600;
}
.color-gradiente{
    background: rgba(184, 37, 20, 1);
}
h2{
    font-size: 24px;
}
h3{
    font-size: 14px;
    color: #282828;
    font-weight: 300;
}
#sobremi .card{
    height: 182px;
}
#experiencia h2{
    font-weight: 400;
    font-size: 24px;
    color: #370a6d;
}
#experiencia h4{
    font-size: 17px;
    color: #370a6d;
}
#formacion h2{
    color: #e20000;
    font-weight: 400;
    font-size: 24px;
}
.btn{
    color: #370a6d;
    background-color: white;
    border: none;
}
.baw{
    filter: grayscale(100%);
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
#formacion h3, #experiencia h3{
    color: #6a6a6a;
    font-size: 18px;
    font-weight: 600;
}
#formacion h4{
    font-size: 17px;
    color: #e20000;   
}
#formacion h5{
    color: #6a6a6a;
    font-size: 14px;
}
p{
    color: #6a6a6a;
    font-size: 14px;
}
#idiomas{
    background-color: #eee;
}

#idiomas .card-idioma{
    border-radius: 15px;
}
#idiomas .card{
     background-color: #370a6d;
     border-radius: 15px;
     padding: 40px 0;
}

#idiomas .fas{
    font-size: 80px;
    color: white;
}
#idiomas ul{
    padding: 0px;
    font-size: 14px;
    color: #282828;
    list-style-type: none;
}
#idiomas h2{
    font-size: 16px;
}
.img-circle{
    margin: 1em auto;
    display: block;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
}
.mt-4{
    margin-top: 1.5rem! important;
}


.proyectos {
    border: 1px solid #6a6a6a;
    background-color: white;
}

.proyectos a {
    color: #e20000;
}

.proyectos h2 {
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    padding: 0px;
    margin: 0px;
    background-color: #e20000;
}

.proyectos p {
    font-size: 14px;
    height: 148px;

}

#proyectos img {
    height: 210px;
}

nav .active {
    border: 1px solid #e20000;
    border-radius: 25px;
}
.navbar{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: #e20000;
    font-size: 36px;
}

textarea {
    height: 150px;
}

p {
    color: #6a6a6a;
    font-size: 16px;
    display: block;
}

.form-control {
    border-radius: 14px;
}

.btn-blanco {
    background-color: white;
    color: #370ad6;
}

.btn-blanco:hover {
    background-color: #370ad6;
    color: white;
}

.btn-rojo {
    background-color: #e20000;
    color: white !important;

}

.btn-rojo:hover {
    background-color: #370ad6;
    color: white;
}

.btn {
    border-radius: 14px;
}
footer a{
    font-weight: 100;
    color: white;
}

.whatsapp {
    position: fixed;
    right: 70px;
    bottom: 0px;
    background-color: #370ad6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.fa-whatsapp {
    font-size: 32px;
    color: white;
}
#footer-proyectos a, #footer-proyectos, #footer-sobremi, #footer-sobremi a{
    color: #e20000;
}
#footer-contacto{
    color: white;
}
.fa-github, .fa-linkedin-in{
  font-size: 30px;
}

@media (max-width: 750px) {
    #contacto {
        background-image: url(../images/fondo-proyectos.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }
}